body {
    font-family: sans-serif;
  /* background-color: #f9fbfd; */
  background-color: lightgray
}

.wrapper {
  padding-top: 30px;
  padding-left: 20px;
  padding-right: 20px;
}

header {
  text-align: center;
  padding: 20px;
  padding-top: 0px;
  color: hsl(206, 17%, 28%);
}

.card {
  background-color: hsl(0, 0%, 100%);
  border-radius: 5px;
  border-width: 1px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px 0px;
  color: hsl(206, 17%, 28%);
  font-size: 18px;
  margin: 0 auto;
  max-width: 800px;
  padding: 30px 40px;
}

/* .card-header::after {
  content: " ";
  display: block;
  width: 100%;
  background: #e7e9eb;
  height: 2px;
} */

.card-body {
  min-height: 100px;
}

.card-footer {
  text-align: center;
}

.card-footer::before {
  content: " ";
  display: block;
  width: 100%;
  background: #e7e9eb;
  height: 2px;
}

.card-footer::after {
  content: " ";
  display: block;
  clear: both;
}

button[disabled] {
  cursor: default;
  background: #c0c7cf;
}

.float-right {
  float: right;
}

#password {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  display: block;
  width: 100%;
  padding-top: 15px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 85px;
  font-size: 1.2rem;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
  border: 2px dashed #c0c7cf;
  border-radius: 6px;
  resize: none;
  overflow: hidden;
}

@media (max-width: 690px) {

  #password {
    font-size: 1rem;
  }
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button {  

  opacity: 1;

}

















.displayMusicNote {
  font-size: 40px;
  color: black;
  margin: auto;

}

.piano {
  display: flex;
}

.key {
  height: calc(var(--width) * 4);
  width: var(--width);
}

.white {
  --width: 66px;
  background-color: rgb(255, 255, 255);
  border: 1px solid #333;
}

.white.active {
  background-color: rgb(204, 204, 204);
}

.black {
  --width: 40px;
  background-color: rgb(0, 0, 0);
  margin-left: calc(var(--width) / -2);
  margin-right: calc(var(--width) / -2);
  z-index: 2;
}

.black.active {
  background-color: #333;
}

.highlight {
  --width: 66px;
  background-color: rgb(204, 44, 44);
  border: 1px solid #333;
}

img {
  width: 450px;
}

@media only screen and (max-width:768px) {

  .white {
    --width: 50px;
    background-color: white;
    border: 1px solid #333;
  }

  .white.active {
    background-color: #CCC;
  }

  .black {
    --width: 30px;
    background-color: black;
    margin-left: calc(var(--width) / -2);
    margin-right: calc(var(--width) / -2);
    z-index: 2;
  }

  .black.active {
    background-color: #333;
  }

  .highlight {
    --width: 50px;
    background-color: rgb(204, 44, 44);
    border: 1px solid #333;
  }

}



@media screen and (max-width: 620px) {
  .hideImage {
    visibility: hidden;
    /* opacity: 0; */
  }
}